.md-typeset .highlight pre,
.md-typeset pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page-date {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -2rem;
  margin-bottom: 0rem;
  font-weight: 400;
  font-style: italic;
}
